<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823640362472-0m0fbotcpdc71m1fnser1o4ula60ebnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823640362472-0m0fbotcpdc71m1fnser1o4ula60ebnt</string>
	<key>API_KEY</key>
	<string>AIzaSyC2KmPCE2Y_kOu7Lsi6Hctn-ArUC2XDtg8</string>
	<key>GCM_SENDER_ID</key>
	<string>823640362472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>az.mover.warehouse.ios</string>
	<key>PROJECT_ID</key>
	<string>moverwarehouse</string>
	<key>STORAGE_BUCKET</key>
	<string>moverwarehouse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823640362472:ios:17e536159c79a2dc72a85d</string>
	<key>DATABASE_URL</key>
	<string>https://moverwarehouse.firebaseio.com</string>
</dict>
</plist>